<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apbase" >

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
